src/main/java/portafolio/gpvh/controlAccesoWS/mappingWsl/consultaControlAcceso.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controldeacceso.portafolio.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controldeacceso.portafolio.com/" name="consultaControlAcceso">
<types>
<xsd:schema>
<xsd:import namespace="http://controldeacceso.portafolio.com/" schemaLocation="http://35.237.92.42:8084/ControlDeAcceso/consultaControlAcceso?xsd=1"/>
</xsd:schema>
</types>
<message name="generarPersona">
<part name="parameters" element="tns:generarPersona"/>
</message>
<message name="generarPersonaResponse">
<part name="parameters" element="tns:generarPersonaResponse"/>
</message>
<message name="externalLogin">
<part name="parameters" element="tns:externalLogin"/>
</message>
<message name="externalLoginResponse">
<part name="parameters" element="tns:externalLoginResponse"/>
</message>
<message name="busquedaPersonas">
<part name="parameters" element="tns:busquedaPersonas"/>
</message>
<message name="busquedaPersonasResponse">
<part name="parameters" element="tns:busquedaPersonasResponse"/>
</message>
<message name="AsistenciaPorDia">
<part name="parameters" element="tns:AsistenciaPorDia"/>
</message>
<message name="AsistenciaPorDiaResponse">
<part name="parameters" element="tns:AsistenciaPorDiaResponse"/>
</message>
<message name="personaPorRut">
<part name="parameters" element="tns:personaPorRut"/>
</message>
<message name="personaPorRutResponse">
<part name="parameters" element="tns:personaPorRutResponse"/>
</message>
<message name="AsistenciaPorRangoDeFecha">
<part name="parameters" element="tns:AsistenciaPorRangoDeFecha"/>
</message>
<message name="AsistenciaPorRangoDeFechaResponse">
<part name="parameters" element="tns:AsistenciaPorRangoDeFechaResponse"/>
</message>
<message name="devolverHorasCompesadas">
<part name="parameters" element="tns:devolverHorasCompesadas"/>
</message>
<message name="devolverHorasCompesadasResponse">
<part name="parameters" element="tns:devolverHorasCompesadasResponse"/>
</message>
<message name="consumirHorasCompesadas">
<part name="parameters" element="tns:consumirHorasCompesadas"/>
</message>
<message name="consumirHorasCompesadasResponse">
<part name="parameters" element="tns:consumirHorasCompesadasResponse"/>
</message>
<portType name="consultaControlAcceso">
<operation name="generarPersona">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/generarPersonaRequest" message="tns:generarPersona"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/generarPersonaResponse" message="tns:generarPersonaResponse"/>
</operation>
<operation name="externalLogin">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/externalLoginRequest" message="tns:externalLogin"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/externalLoginResponse" message="tns:externalLoginResponse"/>
</operation>
<operation name="busquedaPersonas">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/busquedaPersonasRequest" message="tns:busquedaPersonas"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/busquedaPersonasResponse" message="tns:busquedaPersonasResponse"/>
</operation>
<operation name="AsistenciaPorDia">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/AsistenciaPorDiaRequest" message="tns:AsistenciaPorDia"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/AsistenciaPorDiaResponse" message="tns:AsistenciaPorDiaResponse"/>
</operation>
<operation name="personaPorRut">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/personaPorRutRequest" message="tns:personaPorRut"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/personaPorRutResponse" message="tns:personaPorRutResponse"/>
</operation>
<operation name="AsistenciaPorRangoDeFecha">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/AsistenciaPorRangoDeFechaRequest" message="tns:AsistenciaPorRangoDeFecha"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/AsistenciaPorRangoDeFechaResponse" message="tns:AsistenciaPorRangoDeFechaResponse"/>
</operation>
<operation name="devolverHorasCompesadas">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/devolverHorasCompesadasRequest" message="tns:devolverHorasCompesadas"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/devolverHorasCompesadasResponse" message="tns:devolverHorasCompesadasResponse"/>
</operation>
<operation name="consumirHorasCompesadas">
<input wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/consumirHorasCompesadasRequest" message="tns:consumirHorasCompesadas"/>
<output wsam:Action="http://controldeacceso.portafolio.com/consultaControlAcceso/consumirHorasCompesadasResponse" message="tns:consumirHorasCompesadasResponse"/>
</operation>
</portType>
<binding name="consultaControlAccesoPortBinding" type="tns:consultaControlAcceso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="externalLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="busquedaPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsistenciaPorDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="personaPorRut">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsistenciaPorRangoDeFecha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverHorasCompesadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consumirHorasCompesadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="consultaControlAcceso">
<port name="consultaControlAccesoPort" binding="tns:consultaControlAccesoPortBinding">
<soap:address location="http://35.237.92.42:8084/ControlDeAcceso/consultaControlAcceso"/>
</port>
</service>
</definitions>